<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings file ="SampleData.csv">
    <add key = "HeaderColor" value = "Green"/>
    <add key = "ValueColor" value =  "Blue"/>
    <add key ="DataPath" value="Files" />
    <add key="SmtpServer" value="smtp.gmail.com"/>
    <add key="port" value="587"/>
    <add key="EnableSSL" value="true"/>
    <add key="EmailFromAddress" value="demoforemail123@gmail.com"/>
    <add key="AuthUsername" value="demoforemail123@gmail.com"/>
    <add key="AuthPassword" value="demo1234@"/>
  </appSettings>
</configuration>